footer {
  background-color: var(--color-primary-2);
}

.footer-items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
}

.copyrigth {
  color: var(--color-neutral-1);
  font-weight: 500;
}

@media screen and (max-width: 760px) {
  .footer-items {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
